cryptography==38.0.4
requests==2.32.3
selenium==4.26.1
PyVirtualDisplay==3.0
Pillow==10.4.0
ImageHash==4.3.1
celery==5.4.0
redis==4.6.0
sqlalchemy==1.4.54
alembic==1.14.0
psycopg2==2.9.10
PyYAML==6.0.2
flower==2.0.1
celery-redbeat==2.2.0
boto3==1.35.60
botocore==1.35.60
jsonpath-python==1.0.6
psutil==5.9.8
sentry-sdk[celery]==1.45.1
dnspython==2.7.0
